[project]
	description = repo for jenkins job builder
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Shirley (aditaa)
[access "refs/for/refs/*"]
	read = group user/Daniel Shirley (aditaa)
	push = group user/Daniel Shirley (aditaa)
	label-Code-Review = -2..+2 group user/Daniel Shirley (aditaa)
	label-Verified = -1..+1 group user/Daniel Shirley (aditaa)
	rebase = group user/Daniel Shirley (aditaa)
	removeReviewer = group user/Daniel Shirley (aditaa)
	submit = group user/Daniel Shirley (aditaa)
[access "refs/heads/*"]
	read = group user/Daniel Shirley (aditaa)
	create = group user/Daniel Shirley (aditaa)
	push = +force group user/Daniel Shirley (aditaa)
	pushMerge = group user/Daniel Shirley (aditaa)
[access "refs/tags/*"]
	push = +force group user/Daniel Shirley (aditaa)
	pushTag = group user/Daniel Shirley (aditaa)
	pushSignedTag = group user/Daniel Shirley (aditaa)
